.left{
    background-color: #242930;
    position: fixed;
    z-index: 999;
    width: 20%;
    height: 100%;
    text-align: center;
    color: white;
    line-height: 1.4;
}

.left .profile .profile-img{
    width: 60%;
    border-radius: 55%;
    border: 6px solid #30336b;
    margin-top: 10%;
}

#name{
    margin-top: 8%;
    font-size: xx-large;
}

#info{
    margin-top: 8%;
    color: #A5B5C4;
    font-size: 17px;
}

#github{
    margin-top: 8%;
    font-size: 4em;
}

#linked-in{
    margin-left: 10px;
    font-size: 4em;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#email{
    color: #A5B5C4;
}
