.left{
    background-color: #242930;
    position: fixed;
    z-index: 999;
    width: 17%;
    height: 100%;
    text-align: center;
    color: white;
}

.left .profile .profile-img{
    width: 60%;
    border-radius: 55%;
    border: 8px solid #57CC8A;
    margin-top: 10%;
}
