.right{
    margin-left: 17%;
    background-color: inherit;
    position: absolute;
    justify-content: center;
    text-align: center;
    color: white;
    width: 83%;
}

.right .box_one{
    background-color: red;
    height: 150px;
    width: 30%;
    margin-left: 50px;
}
