.right{
    margin-left: 17%;
    background-color: inherit;
    position: absolute;
    justify-content: center;
    text-align: center;
    color: white;
    width: 80%;
}

.menu{
    text-align: right;
    margin-top: 3%;
    font-size: 30px;
}

.right .box{
    background-color: red;
    height: 150px;
    width: 30%;
    margin-left: 50px;
}
