.right{
    margin-left: 17%;
    background-color: inherit;
    position: absolute;
    justify-content: center;
    text-align: center;
    color: white;
    width: 80%;
}

.menu{
    text-align: right;
    margin-top: 3%;
    font-size: 30px;
}

.school_symbol{
    margin-left: 7%;
    padding-right: 30px;
    padding-bottom: 25px;
}

.google_img{
    width: 500px;
}

button{
    font-family: 'Pacifico', cursive;
    width: 120px;
    height: 35px;
    background-color: #0984e3;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
}

b{
    font-weight: 900;
    color: #74b9ff;
}

br{
    line-height: 150%;
}

#type_board{
    position: absolute;
    right: 0px;
    font-size: 30px;
    font-family: 'Bree Serif', serif;
}

#calendar{
    position: absolute;
    right: 0px;
    top: 200px;
}

@media screen and (min-width: 300px) and (max-width:1200px){
    #calendar{
        display: none;
    }
    #main_page{
        width: 90%;
    }
    #likes{
        position: inline-block;
    }
}


#likes{
    position: absolute;
    right: 360px;
    top: 700px;
    font-size: 35px;
    font-family: 'Kaushan Script', cursive;
}

#likes_icon{
    position: absolute;
    top: 780px;
    right: 0px;
    font-size: 80px;
}

#main_page{
    position: absolute;
    text-align: left;
    margin-left: 7%;
    margin-right: 620px;
    font-size: 20px;
    line-height: 120%;
    font-family: 'Bree Serif', serif;
}

#page_edu, #page_scholar, #page_lang, #page_awards{
    font-family: 'Bree Serif', serif;
    text-align: left;
    margin-left: 7%;
    font-size: 25px;
}

#title{
    font-family: 'Bree Serif', serif;
    text-align: left;
    margin-left: 7%;
    font-size: 28px;
}

#first_line{
    font-size: 25px;
}

#ielts, #ielts_year{
    opacity: 0.3;
}

#ielts_year{
    font-size: 20px;
}

#scholar_year, #scholar_detail, #award_year{
    font-size: 20px;
}

#description{
    opacity: 0.5;
}

#skill_icon{
    display: inline-block;
    font-size: 150px;
    padding: 50px;
}

#skill_detail{
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    display: block;
}
