@import "./reset.css";
@import "./left.css";
@import "./main.css";
@import "./right.css";

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1024px) {
    #left, #right {
        display: none;
    }
}

a, a:visited {
    text-decoration: none;
    color: black;
}
