@import "reset.css";
@import "left.css";
@import "right.css";

html, body{
    height: 100%;
}

body {
    height: 100vh;
    background-color: #353B43;/*fallback*/
    background: repeating-linear-gradient(180deg, #34495e, #353B43, #34495e);
    position: relative;
    display: flex;
}
