@import "reset.css";
@import "left.css";
@import "right.css";

html, body{
    height: 100%;
}

body {
    background: linear-gradient(to right bottom, #353B43 35%, #34495e);
    position: relative;
    display: flex;
}
